################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArchiveData/v16
/ArchiveData/bin/Debug/net5.0
/ArchiveData/obj
/.vs/ArchiveData/DesignTimeBuild
